spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fitstudent
    username: app_user
    password: app_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET:supersecretkey12345678901234567890}
  expiration: 86400000  # 24 часа

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG

app:
  upload-dir: ./uploads
